<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="CalTrack"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalTrack">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:parentActivityName=".ui.auth.LoginActivity" />

        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false" />

        <activity
            android:name=".ui.bmi.BMICalculatorActivity"
            android:exported="false"
            android:parentActivityName=".ui.dashboard.DashboardActivity" />

        <activity
            android:name=".ui.meals.MealLogActivity"
            android:exported="false"
            android:parentActivityName=".ui.dashboard.DashboardActivity" />

        <activity
            android:name=".ui.progress.ProgressActivity"
            android:exported="false"
            android:parentActivityName=".ui.dashboard.DashboardActivity" />

    </application>

</manifest>
